<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Platillos</title>
    {% load static %}    
    
    <link rel="stylesheet" href="{% static 'css/tablas.css' %}">
</head>
<body>
    <!-- Encabezado con menú -->
    <header>        
        <a href="/">
            <img src="{% static 'img/logo.png' %}" alt="Logo Le Jardine Mexican" class="logo">
        </a>
        <nav>
            <ul>
                <li><a href="/#mision">Misión</a></li>
                <li><a href="/#vision">Visión</a></li>
                <li><a href="/#valores">Valores</a></li>
                <li><a href="/#contacto">Contacto</a></li>
                <li><a href="/Altas">Gestión de Platillos</a></li>
            </ul>
        </nav>
    </header>

    <h1>Gestión de Platillos</h1>
    <form action="/procesar_platillo" method="POST">
        <label for="id">ID (para bajas o modificaciones)</label>
        <input type="number" id="id" name="id" placeholder="Ingresa el ID del platillo">

        <label for="nombre">Nombre del Platillo</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre del platillo">

        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" name="descripcion" rows="3" placeholder="Descripción del platillo"></textarea>

        <label for="precio">Precio</label>
        <input type="number" id="precio" name="precio" step="0.01" placeholder="Precio en MXN">

        <label for="categoria">Categoría</label>
        <select id="categoria" name="categoria">
            <option value="">Selecciona una categoría</option>
            <option value="entrada">Entrada</option>
            <option value="plato_fuerte">Plato Fuerte</option>
            <option value="postre">Postre</option>
            <option value="bebida">Bebida</option>
        </select>

        <div class="buttons">
            <button type="submit"  value="alta" class="alta">Alta</button>
            <button type="submit"  value="baja" class="baja">Baja</button>
            <button type="submit"  value="modificacion" class="modificacion">Modificación</button>
        </div>
    </form>
</body>
</html>
